:root {
    --main-color: #0e5d52;
    --sub-color: #e7be41;
    --light-color: #fff;
    --body-fontface: 'UTM Avo', sans-serif;
    --title-fontface: 'UTM Avo';
    --subtitle-fontface: 'UTM Avo';
}
header {
    background: var(--main-color);
}

.sec-hero, .sec-hero .swiper-slide, .sec-hero .hero-slider, .hero-content {
    height: 85vh;
}
.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-wrapper{
	transform-style: inherit;
}
.card-s .card-body {
    margin: 0;
}
.card-s4::before, .card-s3::before, .card-s1::before {
    bottom: -5px;
}
.sec-broker-hp .card-s3 .card-body {
    margin-top: -85px;
    padding: 100px 24px 24px;
}
.widget-subscribe img {
    width: 100%;
}
header .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 13px;
    padding: 18px 25px;
}
.scrollDown header .navbar-expand-lg .navbar-nav .nav-link{
	font-size: 13px;
    padding: 17px 25px;
}

.widget-broker.card-s3 .card-body {
    margin-top: -145px;
    padding-top: 155px;
}
.product-price {
    top: 60px; background: none; margin-top: 0;
}
.product-contact {
    margin-top: 5px;
}
.product-price .old-price {
    background-color: var(--main-color); height: 40px;
}
header .navbar-expand-lg .navbar-nav.ml-auto .nav-icon.notification .dropdown-menu .notify-tool a{
	border: none;
    color: #fff;
}
header .navbar-expand-lg .navbar-nav.ml-auto .nav-icon.notification .dropdown-menu {
    padding: 0px;border: none;
}
header .navbar-expand-lg .navbar-nav.ml-auto .nav-icon.notification .dropdown-menu .notify-tool {
    margin-top: 0px;
    background: #30394f;
    padding: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #30394f;
}
header .navbar-expand-lg .navbar-nav.ml-auto .nav-icon.notification .dropdown-menu .notify-tool a.view-all {
    flex: none;
}
header .navbar-expand-lg .navbar-nav.ml-auto .nav-icon.notification .dropdown-menu .notify-tool-bottom{
	justify-content: center;
}
header .navbar-expand-lg .navbar-nav.ml-auto .nav-icon.notification .dropdown-menu a {
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #30394f;
}
header .navbar-expand-lg .navbar-nav.ml-auto .nav-icon.notification .dropdown-menu a.unread p {
    font-size: .8rem;
}
header .navbar-expand-lg .navbar-nav.ml-auto .nav-icon.notification .dropdown-menu a i, header .navbar-expand-lg .navbar-nav.ml-auto .nav-icon.notification .dropdown-menu a span {
    font-size: .7rem;
}
header .navbar-expand-lg .navbar-nav.ml-auto .nav-icon.notification .dropdown-menu .notify-tool a:hover {
    background: none;
    color: #fff !important;text-decoration: revert;
}
header .navbar .logo{
	background: #fff; padding: 10px; box-shadow: 0px 0px 5px 1px var(--main-color);border-radius: 0px 0px 3px 3px;
}

.sr-hd-nav-box{
	margin-bottom: 0;
}
.sec-breadcrumb{
	margin-top: 0;
}
.location-list {
    margin-bottom: 20px;
}
.current-price{
	padding-right: 0px;
}
.current-price span{
	color: #000; font-weight: 100; font-size: .8rem;
}
.card-s .card-title a {
    font-size: 1rem;
}
.sec-product-hot .card-s > a .card-price .current-price {
    padding: 13px 10px 13px 4px;
}
.sec-product-hot .card-s > a .card-price .old-price {
    height: 48px;
    line-height: 13px;
}
.floating-label .btn-circle i {
    margin-right: 3px;
}
.floating-label .btn-circle, .sec-search .btn-circle.btn-toggle {
    background: #0e5d52 !important;
    color: #fff;
    padding: 0;
    font-size: 1rem;
    border-radius: 5px;
}
.grid-view .card-contact span, .grid-view .card-info p {
    display: block;
}
.card-body-new .card-price{
	display: flex;
	flex-direction: column;padding-right: 10px;align-items: flex-end;
}
.sec-hero .swiper-slide::after{
	content: none;
}
.navbar-expand-lg {
    height: 58px;
}
.grid-view .card-s .card-title {
    padding-top: 0;
}
.cover-title-home .cover-content h3 {
    font-size: 30px;
    top: 0;
}
.card-s4::before, .card-s3::before, .card-s1::before{content: none;}
.card-s > a, .card-s .card-body, .card-s .card-img, .card-s .card-img-top{ border-radius: 0; }
/*.sec-product-hot .card-s .card-img, .sec-product-hot .card-s .card-img-top {
	height: 300px;
}
.card-s .card-img, .card-s .card-img-top {
    height: 200px;
}*/
.card-s:hover .card-img-top {
    transform: scale(1.05);
}
.cover-title-home {
    padding-top: 50px;
}

.cover-title-home h2{
	font-weight: bold;
}
.cover-title-home .cover-title{
	display: flex;justify-content: space-between;align-items: center;
}
.cover-title-home .cover-title button{
	background: #fff; border: 1px solid var(--sub-color); padding: 6px 18px 9px 18px; border-radius: 30px; 
	color: var(--sub-color);
}
.cover-title-home .cover-title button:hover{
	background: var(--sub-color); color: #fff; border: #fff;
}
.product-dt-header-title h1 {
    color: var(--main-color);
    font-weight: bold;
    line-height: 1.2;
    font-size: 25px;
    margin-bottom: 16px;
}
.sec-product-hot, .review-project, footer, footer .ft-main, .scrollDown header{
	background: var(--main-color);
}
.review-project-content .cover-title-filled{
	color: #fff !important;
}
header .navbar-brand img {
    width: 80px;
}
.scrollDown header .navbar-brand img {
    width: 59px;
}
.product-detail p{ text-align: justify; }
.main-article img{ max-width: 100%; }
.product-detail ul{
	display: flex;
    flex-direction: column;margin-bottom: 10px;padding-left: 17px;
}
.product-detail ol{
	padding-left: 17px;margin-bottom: 10px;
}
.product-detail ul li{
	list-style: inline; list-style: circle !important;display: revert;margin-bottom: 4px;
}
.product-detail ol li{
	margin-bottom: 4px;
}
.product-detail strong{
	font-weight: 600;
}
.product-overview .scrollspy-product {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;height: 40px;
}
.product-overview .scrollspy-product li a {
    margin-right: 15px;
    margin-left: 15px;
    font-size: .9rem;
    padding-bottom: .5rem;
}
.product-overview .scrollspy-product li:first-child a {
    margin-left: 0px;
}

.product-overview .scrollspy-product::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 3px #fff;
    background-color: #aaa;
}
.product-overview .scrollspy-product::-webkit-scrollbar
{
	width: 0px;
  	height: 3px;
  	background-color: #aaa; /* or add it to the track */
}
.product-overview .scrollspy-product::-webkit-scrollbar-thumb
{
    background-color: #aaa;
}
.product-overview .scrollspy-product li {
     border-right: 1px solid #ddd; 
}
.product-overview .scrollspy-product li:last-child {
     border-right: none; 
}

.product-detail h2{
    color: var(--main-color);
    font-size: 16px !important;
    border-bottom: 1px solid #dfdfdf;
    -webkit-text-stroke-width: unset !important;
    padding-top: 120px;
    margin-top: -128px;
}
.product-price .new-price h5 {
    font-weight: bold; font-size: 2rem;
}
.sale-detail-sec .col-lg-9 .product-dt-header-title .product-price .new-price h5 {
    font-size: 16px;
    margin-bottom: 0;
}
.product-detail h3{
	font-size: 1.1rem;color: var(--main-color);
}
.fullscreen-slider .swiper-slide {
    width: 100%;
}
.fullscreen-slider-50 .swiper-slide {
    width: 50%;
}
.swiper-pagination {
    bottom: 30px !important;
}
.mg-b-20{
	margin-bottom: 20px;
}
.mg-b-40{
	margin-bottom: 40px;
}
.pd-0{
	padding: 0px;
}
.thumb-ads-slider {
    margin-top: -73px;
}
.ft-contact-item-ico, .cover-ct-item-img {
    box-shadow: 0px 0px 2px 2px;
}
.main-article p{
	text-align: justify; margin-bottom: 7px;
}
.fullscreen-slider .swiper-button-next {
    right: calc(7% - (86px/2));
    width: 40px;
    height: 40px;
    top: 47%;background: #0e5d528c;
}
.fullscreen-slider .swiper-button-prev {
	left: calc(7% - (86px/2));
    width: 40px;
    height: 40px;
    top: 47%;background: #0e5d528c;
}
.card-overlay .card-overlay-body-wrap h2 {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.4;
}
.card-overlay-sm .card-overlay-body h2 {
    font-size: 14px;
    line-height: 1.4;
    margin-top: -2px;
}
.card-s .card-title {
    text-transform: inherit;
}

.card-s .card-title::first-letter{
    text-transform: uppercase;
}
.select2-container--default .select2-results>.select2-results__options {
    display: flex;
    flex-direction: column;
}
.select2-container--default .select2-selection--single {
    border: none;
}
.select2-container {
    margin-top: 10px;
}
.select2-container--open .select2-dropdown--below {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 3px #dee2e6;width: 215px !important;
}
:focus-visible {
    outline: none;
}
.select2-results__option--selectable {
    padding: 5px 13px;
}
.select2-search--dropdown{
	padding: 5px 4px; margin-bottom: 6px;
}
.select2-search--dropdown .select2-search__field{
border-radius: 3px;
    background: #f2f2f2;padding-left: 27px;color: #2c2c2c;border: none !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover {
	background-color: #ddd;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #fff;
    color: #961b12;
}
.select2-container--default .select2-results__option--selected{
	background-color: #fff;
    color: #961b12;
}
.select2-search--dropdown::before{
	content: url('../images/search.png');
    position: absolute;
    left: 12px;
    top: 10px;
}
.product-overview .scrollspy-product li a.active {
    -webkit-text-stroke-width: unset;
    -webkit-text-stroke-width: 0.9px !important;
}

#chinh-sach h2{
    color: #fff;
    padding-left: 10px;z-index: 9;
}
#chinh-sach .box-km{
    background: #018572;
    padding: 53px 10px 10px 10px;
    margin-top: -59px;
    border-radius: 5px;
    color: #fff;position: relative;
}
.box-km::before{
   /* content: "";
    background-image:url('../images/csbh.png');
    background-size: 100% 100%;
    height: 40px;
    width:40px;
    position:absolute;
    top: 0;
    right: 10px;*/
}
.floating-label {
    padding: 12px 0px;
}
#contents h3{
    font-size: 1.1rem;    padding-top: 70px;
    margin-top: -70px;
    margin-bottom: 0;
    padding-bottom: 8px;
    -webkit-text-stroke-width: 0.5px;
    letter-spacing: .8px;
}
#contents h2{
    padding-top: 70px;
    margin-top: -70px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    -webkit-text-stroke-width: 0.7px;
    letter-spacing: .8px;
}
#contents ul{ display: flex;
    flex-direction: column;}
#contents ul li{ padding-left: 13px; position: relative; margin-bottom: 7px; }
#contents ul li::before {
    content: '-';
    position: absolute;
    left: 0;
    top: -2px;
}
.main-content .main-article h2 { -webkit-text-stroke-width: 0.8px !important;}
.list-tindang h1{font-size: 1.7rem; margin-bottom: 15px;}
.list-tindang{ padding-top: 0px; }
.setting-view {max-width: 30px;height: 30px;}
.setting-view {padding: 0px 4px;}
.sort-box {margin-bottom: 5px; display: none;}


@media (min-width: 1600px){
	.horizontal-view .card-s > a, .news-sec .horizontal-view .card-s > a {
	    width: 25%;
	    top: 0;
	    right: 0;
	}
	.horizontal-view .card-s > .card-body, .news-sec .horizontal-view .card-s > .card-body{
		width: 75%;
	}
	.horizontal-view .card-s .hot {
	    left: calc(20%);
	}
	.scrollDown header .navbar .navbar-nav .nav-item > .dropdown-menu {
	    margin-top: 6px;
	}
}

@media (max-width: 768px){
	.modal.info-customer .modal-content {
	    border-radius: 0;
	    height: 56vh;
	    width: 95%;	
	    margin: 0 auto;
	}
	.expand-search {
	    margin-top: 62px;
	}

	.card-body-new .card-contact i{
	    background-color: var(--sub-color); height: 30px; flex: 0 0 30px; font-size: 20px;
	    color: #fff !important;
	}
	.card-body-new .card-contact{ border: none; display: block; flex: auto;display: flex;  align-items: center; margin-top: 0px; justify-content: flex-end;}
	.card-body-new .card-footer {
	    flex-wrap: nowrap;
	    display: flex;align-items: center; margin-bottom: 0px;justify-content: space-between;
	}
	
	
	.card-s .card-body-new:not(.card-s2 .card-body-new){
		background: #fff; padding: 5px;
	}
	.card-body-new .card-body-wrap{ border-bottom: 1px solid #ddd;margin-bottom: 14px; }
	.card-body-new .current-price{ padding-right: 0px; font-size: 1.1rem; }
	.card-body-new .card-contact span, .card-body-new .card-info p{ font-size: .7rem; }
	.card-body-new .old-price{font-size: .8rem;}
	.card-body-new .card-s .card-title a {
	    font-size: .9rem;
	}
	.product-status{
		display: flex;justify-content: space-evenly;
		color: #fff;
		bottom: 0;bottom: -20px;
	}
	.floating-label .btn-circle::after, .sec-search .btn-circle.btn-toggle::after {content: 'Tìm kiếm sản phẩm';}
}

@media (max-width: 414px){
    .sec-product-hot .primary-title h3 {font-size: 48px;display: flex;}
    .sec-product-hot .primary-title .cover-title-filled {
    	font-size: 25px; bottom: 0;margin-right: 5px;
    }
    .cover-content h3:after, .primary-title h3:after{ left: 0; }
    .sec-product-hot .primary-title .position-relative{
    	font-size: 32px;bottom: 8px;
    }
    .main-content .main-article h2{ margin-bottom: 0px; }
    #chinh-sach .box-km {padding: 69px 10px 10px 10px;margin-top: -65px;}
    .sec-hero, .sec-hero .swiper-slide, .sec-hero .hero-slider, .hero-content{height: 45vh;}
    .home-page .cover-title>h2{ font-size: 1.6rem; margin-bottom: 1rem;}
    .home-page .cover-title>button{ display: none; }
    .review-project .man-house::before {width: 21.5vw;}
    .review-project .man-house img {max-width: 120px !important;}
    .product-dt-header-title {margin-bottom: 0;}
    .sale-detail-sec .col-lg-9 .product-dt-header-title .d-md-none{ margin-bottom: 0px; }
    .list-tindang h1{font-size: 1.4rem; }
    /*.floating-label .btn-circle::after, .sec-search .btn-circle.btn-toggle::after {content: '';}*/
    /*.floating-label {padding: 12px 0px;position: absolute;top: 0;right: 0;z-index: 99999;}*/
    /*.floating-label .btn-circle, .sec-search .btn-circle.btn-toggle {background: #fff !important;color: #0e5d52;padding: 0;font-size: 1rem;border-radius: 100px;padding: 10px;margin-top: 0;}*/
    header .navbar-brand img {width: 59px;}
}


@media (max-width: 390px){
	.card-s .card-title a {font-size: .8rem;}
	.card-info {font-size: .7rem;}
	.card-body-new .current-price { font-size: .9rem;}
	.card-body-new .card-contact i {height: 25px;flex: 0 0 25px;}
	.current-price span,.card-body-new .old-price,.card-body-new .card-contact span, .card-body-new .card-info p {font-size: .6rem; line-height: 10px;}
}


/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"], 
    input[type="tel"], input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="tel"], input[type="url"]{ font-size: 16px; }
}